/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Mulish:wght@600&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #1E3A8A; /*Deep Royal Blue*/
  --color-primary-dark: #172554; /*Midnight Blue*/
  --color-primary-light: #3B82F6; /*Bright Blue*/

  --color-accent: #F97316; /*Vibrant Orange*/
  --color-accent-hover: #EA580C; /*Burnt Orange*/

  --color-bg-main: #F1F5F9; /*Light Gray*/
  --color-bg-card: #FFFFFF; /*White*/
  --color-bg-light: #E2E8F0; /*Light Gray*/

  --color-text-main: #1E293B; /*Dark Gray*/
  --color-text-secondary: #475569; /*Gray*/
  --color-text-muted: #94A3B8; /*Light Gray*/

  --color-success: #16A34A; /*Green*/
  --color-warning: #FACC15; /*Yellow*/
  --color-error: #DC2626; /*Red*/

  --font-heading: 'Raleway', sans-serif;
  --font-body: 'Mulish', sans-serif;
}

body {
  font-family: var(--font-body);
  font-weight: 600;
  line-height: 1.6;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #E2E8F0;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #CBD5E1;
  }

  @keyframes pulse-slow {

    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }

    50% {
      opacity: 0.8;
      transform: scale(0.98);
    }
  }

  .animate-pulse-slow {
    animation: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  /* Dropdown Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
  }
}